<form [formGroup]="formGroup" class="form" (ngSubmit)="onSubmit()">
  <div class="first-name">
    <app-input
      id="first-name"
      name="first-name"
      type="text"
      autocomplete="given-name"
      label="First name"
      [control]="firstName"
      [(model)]="customer.firstName"
      class="label-name"
      required
    />
    <div
      *ngIf="firstName?.invalid && (firstName?.dirty || firstName?.touched)"
      class="form__error"
    >
      <div *ngIf="firstName?.errors?.['required']">First name is required</div>
      <div *ngIf="firstName?.errors?.['text']">First name has to be text</div>
    </div>
  </div>

  <div class="last-name">
    <app-input
      id="last-name"
      name="last-name"
      type="text"
      autocomplete="family-name"
      label="Last name"
      [control]="lastName"
      [(model)]="customer.lastName"
      class="label"
      required
    />
    <div
      *ngIf="lastName?.invalid && (lastName?.dirty || lastName?.touched)"
      class="form__error"
    >
      <div *ngIf="lastName?.errors?.['required']">Last name is required</div>
      <div *ngIf="lastName?.errors?.['text']">Last name has to be text</div>
    </div>
  </div>

  <div class="email">
    <app-input
      id="email"
      name="email"
      type="text"
      autocomplete="email"
      label="Email"
      [control]="email"
      [(model)]="customer.email"
      class="label"
      required
    />
    <div
      *ngIf="email?.invalid && (email?.dirty || email?.touched)"
      class="form__error"
    >
      <div *ngIf="email?.errors?.['required']">Email is required</div>
      <div *ngIf="email?.errors?.['email']">No proper format</div>
    </div>
  </div>

  <div class="street">
    <app-input
      id="street"
      name="street"
      type="text"
      autocomplete="street"
      label="Street"
      [control]="street"
      [(model)]="customer.address.street"
      class="label"
      required
    />
    <div
      *ngIf="street?.invalid && (street?.dirty || street?.touched)"
      class="form__error"
    >
      <div *ngIf="street?.errors?.['required']">Street is required</div>
    </div>
  </div>

  <div class="building-number">
    <app-input
      id="building-number"
      name="building-number"
      type="text"
      autocomplete="building-number"
      label="Building"
      [control]="buildingNumber"
      [(model)]="customer.address.buildingNumber"
      class="label"
      required
    />
    <div
      *ngIf="
        buildingNumber?.invalid &&
        (buildingNumber?.dirty || buildingNumber?.touched)
      "
      class="form__error"
    >
      <div *ngIf="buildingNumber?.errors?.['required']">Building is required</div>
      <div *ngIf="buildingNumber?.errors?.['number']">
        Building has to be a number
      </div>
    </div>
  </div>

  <div class="city">
    <app-input
      id="city"
      name="city"
      type="text"
      autocomplete="city"
      label="City"
      [control]="city"
      [(model)]="customer.address.city"
      class="label"
      required
    />
    <div
      *ngIf="city?.invalid && (city?.dirty || city?.touched)"
      class="form__error"
    >
      <div *ngIf="city?.errors?.['required']">City is required</div>
      <div *ngIf="city?.errors?.['text']">City has to be text</div>
    </div>
  </div>

  <div class="country">
    <app-input
      id="country"
      name="country"
      type="text"
      autocomplete="country"
      label="Country"
      [control]="country"
      [(model)]="customer.address.country"
      class="label"
      required
    />
    <div
      *ngIf="country?.invalid && (country?.dirty || country?.touched)"
      class="form__error"
    >
      <div *ngIf="country?.errors?.['required']">Country is required</div>
      <div *ngIf="country?.errors?.['text']">Country has to be text</div>
    </div>
  </div>

  <div class="postal-code">
    <app-input
      id="postal-code"
      name="postal-code"
      type="text"
      autocomplete="postal-code"
      label="Postal code"
      [control]="postalCode"
      [(model)]="customer.address.postalCode"
      class="label"
      required
    />
    <div
      *ngIf="postalCode?.invalid && (postalCode?.dirty || postalCode?.touched)"
      class="form__error"
    >
      <div *ngIf="postalCode?.errors?.['required']">
        Postal code is required
      </div>

      <div *ngIf="postalCode?.errors?.['postalCode']">
        Postal code has wrong format
      </div>
    </div>
  </div>

  <app-button type="submit" label="Save" class="button button--submit" />
</form>
