.car-edit-page {
  margin-top: 100px;
}

.form {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 100px);
  grid-gap: 20px;

  min-width: 300px;
  max-width: 600px;

  margin: 0 auto;
}

.brand {
  grid-row: 1;
  grid-column: 1 / 4;
}

.license-plate {
  grid-row: 1;
  grid-column: 4 / 7;
}

.button--submit {
  grid-row: 2;
  grid-column: 6 / 7;
}

.form__error {
  margin-top: 10px;
  font-size: 10px;
  color: #f33100;
}
