<div class="car-table">
  <div class="car-table__header">
    <app-button
      label="Create"
      class="button button--success"
      (click)="createCar()"
    />
  </div>
  <table class="table">
    <thead class="table__header">
      <tr>
        @for(item of header; track item) {
        <th class="table__header__item">{{ item }}</th>
        }
      </tr>
    </thead>
    <tbody class="table__body">
      @for(car of cars; track car) {
      <tr>
        <td class="table__column">{{ car.vin }}</td>
        <td class="table__column">{{ car.brand }}</td>
        <td class="table__column">{{ car.licensePlate }}</td>
        <td class="table__column">{{ car.status }}</td>
        <td class="table__column">
          <app-button
            [model]="car"
            label="Edit"
            (click)="editCar(car)"
            class="button button--edit"
          />
        </td>
        <td class="table__column">
          <app-button
            [model]="car"
            label="Delete"
            (click)="deleteCar(car.vin)"
            class="button button--delete"
          />
        </td>
        <td class="table__column">
          @if(car.status === 'rented') {
          <app-button label="Return" (click)="returnCar(car.vin)" class="button button--action" />
          } @if(car.status === 'available') {
          <app-button label="Rent" (click)="rentCar(car)" class="button button--action" />
          }
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
