.nav__item {
  border-radius: 5px;
}

.nav__item__link {
  color: #979797;
  text-decoration: none;
  display: block;
  padding: 10px 20px;
  border-radius: 5px;
}

.nav__item--active .nav__item__link,
.nav__item__link:hover {
  background-color: #5542f6;
  color: #ffffff;
}