.home-page {
  margin-top: 100px;
}

.home-page__content {
  margin: 0 auto;

  min-width: 400px;
  max-width: 600px;
}

.home-page__header {
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}

.home-page__description {
  margin-top: 20px;
  color: #ffffff;
}

.home-page__actions {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.home-page__action {
  color: #ffffff;

  background-color: #1b1b1b;

  padding: 20px;

  border-radius: 10px;
}

.home-page__action:first-child {
  color: #c22700;
}

.home-page__action:nth-child(2) {
  color: #5542f6;
}

.home-page__action:nth-child(3) {
  color: #ffa244;
}